@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black text-white antialiased;
    overflow-x: hidden;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

@keyframes fogFlow {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  100% {
    transform: translateX(50%) translateY(0);
  }
}

.fog-animation {
  animation: fogFlow 20s linear infinite;
}